.MainContainer{
    background-color:  var(--keremKam) ;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:2px;
    /* padding-top: 0.5%; */
}
.MainContainer div{
    background-color: yellowgreen;
}



