.MainContainer{
    margin-top: 2px;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:2px;
}




@media(min-width:1200px){
    .MainContainer{
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));}
}
