
.container{
    width: 100%;
    height: 50px;    
    position: relative;    
    display: flex;
    flex-direction: column;
    top: 344vh;
}

.bottom{
    background-color: var(--SabzPor);
    width: 100%;
    text-align: center;   
    color: var(--KeramKam);
}





