.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: transparent;
    z-index: 3;   
}
.input{
    background: transparent;   
    border: none;
    border-bottom:2px solid rgba(0, 0, 0, 0.8106) ;
    text-align: right;
    cursor: pointer;      
}
.input:focus{
    outline: none;
}
.searchicon{
    transform: rotateY(180deg);
    cursor: pointer;
}
.cart{
    transform: rotateY(180deg);
    cursor: pointer;
}
.left{
    width: fit-content;
    height: 50px;    
    cursor:pointer;
}
.menu{
    display:block;
    background-color: black;
}
.menu :first-child{
    
    transition: transform 2s ease-in-out;
}
.menu :nth-child(2){
    transition:transform 2s ease-in-out;
}
.menu :last-child{
    
    transition: transform 2s ease-in-out;
}
.left:hover .menu:first-child{
   transform: rotate(45deg) ; 
   top: 30px;
}
.left:hover .menu:nth-child(2){
    transform:scaleY(0) 
}
.left:hover .menu:last-child{
    transform: rotate(-45deg) ; 
    top: 5px;
 }
 .itmCounter{
    position: absolute;
    right: 55px;
    top: 30px;
    background-color: var(--KeramKam);
    border-radius: 50%;
    font-size: larger;
 }   
    



/*small devic*/
@media( max-width:480px){
    .container{
        height: 45px;    
    }
    .right{
        margin-right: 0;
    }
    .input{
       font-size: 0.7rem;
       width: 25px;
       position: relative;
       bottom: 36px;
       
       
    }
    .searchicon{
        width: 15px;
        position: relative;
        bottom: 3px;
        
    }
    .cart{        
        width: 20px;
        margin-bottom: 5px;
    }
    .menu{
        position: relative;
        bottom: 20px;
        width: 17px;
        height: 1.6px;
        margin: 5px 0;
    }
    .itmCounter{
        right: 17px;
        top: 14px;
        font-size: 10px;
    }
    .left{
        position: relative;
        bottom: 5px;
    }
    .logo{
        display: none;
    }
}
/*tablets*/
@media(max-width:991px){
    .container{
        padding: 0 15px;
        height: 60px;
    }
    .logo{
        width: 36px;
        position: relative;
        left: 50px;
        top: 3px;
    }
    .searchcontainer{
        position: relative;
        right: 10px;
    }
    .input{
        width: 100px;
        position: relative;
        bottom: 25px; 
        left: 4px;   
    }
    .searchicon{
        width: 27px;
    }
    .cart{
        width: 27px;
        position: relative;
        bottom: 15px;
    }
    .menu{
        position: relative;
        width: 18px;
        height: 1.5px;
        margin: 5px 0;
       top: 17px;
    }
    .left{
        top: 5.5px;
    }
    .itmCounter{
        right: 33px;
        top: 17px;
        font-size: 15px;
    }
}
/*large device(desktop)*/
@media(min-width:992px){
    .container{
        padding: 0 25px;
        height: 95px;
    }
    .logo{
        width: 63px;
        position: relative;
        left: 85px;
    }
    .input{
        width: 190px;
        position: relative;
        bottom: 8px;
        font-size: 1.4rem; 
    }
    .searchicon{
        width: 35px;
        position: relative;
        top: 15px;
        right: 4px;
    }
    .itmCounter{
        right: 55px;
        top:26px;
        font-size: large;
    }
    .cart{
        width: 35px;
        position: relative;
        top:5px;
    }
    .searchcontainer{
        margin-right: 15px;
    }
    .menu{
        
        width: 31px;
        height: 3px;
        margin: 10px 0;
    }
    .left{
        top: 5px;
    }
    
}
/*xlargedevice (large desktop)*/
@media(min-width:1200px){
    .container{
        padding: 0 40px;
        height: 105px;
    }
    .logo{
        width: 70px;       
    }
    .input{
        width: 250px;
    }
    .left{
        width: 70px;
    }
    .menu{
        position: relative;
        top: 25px;
        width: 30px;
        height: 3px;
    }
    .cart{
        position: relative;
        top: 5px;
    }
    .left:hover .menu:first-child{        
        top: 35px;
     }
     
     .left:hover .menu:last-child{        
         top: 10px;
      }
    
}