.container{
    width: 100%;
    background-color: var(--KeremKam);
    display: flex;
    height: fit-content;
}

.right{
    width: 60%;
    background-color: blueviolet;
}

.left{
    width: 40%;
    background-color: aqua;
}