*{
  margin: 0;
  padding: 0;
}
:root{
  --KeremPor:#FAF1E6;
  --KeramKam:#FDFAF6;
  --SabzKam:#E4EFE7;
  --SabzPor:#064420;
}
@font-face {
  font-family:"NotoSansRegular" ;
  src: url('./fonts/NotoSans-Regular.ttf');
}

